#
# Condor config
#

# 16 G for GPU jobs and 4G for each CPU job + delta
MEMORY = 35000
NUM_CPUS = 5


# GPU slot
SLOT_TYPE_1 = cpu=1, memory=50%
NUM_SLOTS_TYPE_1 = 1

# CPU slots
SLOT_TYPE_2 = cpu=1, memory=12.5%
NUM_SLOTS_TYPE_2 = 4

# Only icecube can run on the CPU slots
START=ifThenElse(SlotID == 1, ifThenElse(RequestGPUs =!= undefined, RequestGPUs>0, false), ifThenElse(RequestGPUs =!= undefined, RequestGPUs==0, true) && (User =?= "icecube@prp"))

